/* Empty. Add your own CSS if you like */


.bar-takeme{
	background:#FF0C9F;
	border-bottom: none;
}

.bar-takeme .title{
	  color:white;
}

.md-fab{
	display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  vertical-align: middle;
  baseline-shift: baseline;
  alignment-baseline: middle;
  line-height: 3;
  border-radius: 99em;
  box-shadow: 0 3px 10px rgba(128, 128, 128, 0.19);
  background-color: gray;
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  font-size: 18px;
  z-index: 10;
}

.md-fab.yellow{
	 color: black;
  background-color: yellow;
}


//calendar

.calendar-navbar .nav-right button {
  float: right !important;
  display: block !important;
  margin-bottom: 8px !important;
}
.orangee {
  background: #FEAF00;
  color: white;
}
.selectedhour {
  background: #FEAF00;
  color: white;
}
.md-fab {
  background: #FEAF00 !important;
}
.monthview-selected {
  background: none !important;
}
.monthview-selected div {
  background: #FEAF00;
  color: white;
  border-radius: 99em !important;
  width: 27px;
  margin: 0 auto;
  height: 27px;
  text-align: center;
  font-size: 13px;
  line-height: 2;
}
._disable {
  color: #e03131 !important;
}
._disable * {
  color: #e03131;
}
.calendeer * {
  border: none !important;
  font-size: 13px;
}
.calendeer tbody td {
  padding: 25px;
}
.calendeer tbody td .aday {
  line-height: 2;
  width: 27px;
  height: 27px;
  margin: auto;
}
