<ion-view view-title="Opciones">
  <ion-content ng-init="load()">
  
    <ion-list>
    <ion-toggle ng-change="save()"  ng-model="$root.settings.maxPrecision">
         High precision localization
    </ion-toggle>
     <ion-toggle  ng-change="save()"  ng-model="$root.settings.enableFb">
        Share on Facebook
    </ion-toggle>
     <ion-toggle ng-change="save()" ng-model="$root.settings.enableTw">
        Share on Twitter
    </ion-toggle>
    </ion-list>

  </ion-content>

{{$root.maxPrecision}}

</ion-view>

