<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <ion-tab title="Inicio" icon-off="ion-coffee" icon-on="ion-coffee" href="#/tab/routes">
    <ion-nav-view name="tab-routes"></ion-nav-view>
  </ion-tab>



  <ion-tab title="Menú" icon-off="ion-android-restaurant" icon-on="ion-android-restaurant" ng-click="scan()">
    <ion-nav-view name="tab-scan"></ion-nav-view>
  </ion-tab>



  <ion-tab title="Reservas" icon-off="ion-calendar" icon-on="ion-calendar" href="#/tab/schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>


    <ion-tab title="Domicilios" icon-off="ion-android-bicycle" icon-on="ion-android-bicycle" href="#/tab/deliverys">
    <ion-nav-view name="tab-calendar"></ion-nav-view>
  </ion-tab>





  <!-- Account Tab -->
  <ion-tab title="Más" icon-off="ion-more" icon-on="ion-more" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>


