<ion-view view-title="Opciones" class="bg-list">
  <ion-content >
  
    <ion-list>
      <div class="item item-input-inset" style="  border-top: none;
">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Buscar">
    </label>
    <span class="ion-ios-search" style="  display: inline-block;
  width: 20px !important;
  padding: 0 10px; font-size:1.2em"></span>
  </div>

<br>

    <ion-item class="item-icon-right item-icon-left" ng-click="scan()"  type="item-text-wrap" >

        <span class="icon ion-ios-bell-outline icon-accessory" style="font-size: 28px;"></span>


        <h3 style="margin: 10px;">Llamar mesero</h3>
  
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
      <br>
      <ion-item class="item-icon-right item-icon-left"  type="item-text-wrap" href="#/tab/menu-items/entradas">

        <span class="icon ion-ios-nutrition-outline icon-accessory" style="font-size: 28px; color:orange"></span>


        <h3 style="margin: 10px; ">Entradas</h3>
  
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

       <ion-item class="item-icon-right item-icon-left"   type="item-text-wrap" href="#/tab/menu-items/vinos">

        <span class="icon ion-wineglass icon-accessory" style="font-size: 28px; color:brown"></span>


        <h3 style="margin: 10px; ">Vinos</h3>
  
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

      <ion-item class="item-icon-right item-icon-left"  type="item-text-wrap" href="#/tab/menu-items/bebidas">

        <span class="icon ion-ios-pint-outline icon-accessory" style="font-size: 28px; color:blue"></span>


        <h3 style="margin: 10px;">Bebidas</h3>
  
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>


      <ion-item class="item-icon-right item-icon-left"   type="item-text-wrap"  href="#/tab/menu-items/mariscos">

        <span class="icon ion-ios-infinite-outline icon-accessory" style="font-size: 28px; color:red"></span>


        <h3 style="margin: 10px;">Mariscos</h3>
  
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

      <ion-item class="item-icon-right item-icon-left"   type="item-text-wrap" href="#/tab/menu-items/asados">

        <span class="icon ion-ios-flame-outline icon-accessory" style="font-size: 28px; color:orange"></span>


        <h3 style="margin: 10px;">Asados</h3>
  
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>


    </ion-list>

  </ion-content>


</ion-view>

