<ion-view view-title="D'Restaurant">
  <ion-content>

   <section>
      <div class="cover-home">
      </div>

  <div class="padding" style="background:black; color:white">
         <table>
      <tr>
         <td>

         <h5 style="color:white">
         <span class="ion-record" style="color: rgb(24, 229, 24);
  margin-left: 3px;"></span> Abierto (11:30 am - 6:00 pm)
          &nbsp;&nbsp;&nbsp;&nbsp;
   <a href="tel:3015678976"  class="ion-ios-telephone" style="margin-left: 3px;
  font-size: 19px;
  position: relative;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  background-color: gray;
  border-radius: 99em;
  margin-left: 1rem;"></a>  
  </h5>
         </td>
      </tr>
      </table>
      </div>


   </section>


<ion-list>
      
      <ion-item class="item-icon-right item-icon-left" ng-click="scan()"  type="item-text-wrap" >

        <span class="icon ion-qr-scanner icon-accessory icon-m" ></span>


        <h3 style="margin: 10px; font-weight: normal;">Escanear Código</h3>
  
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>


  <ion-item class="item-icon-right item-icon-left"  type="item-text-wrap" href="#/tab/horary">

        <span class="icon ion-calendar icon-accessory icon-m" ></span>


        <h3 style="margin: 10px; font-weight: normal;">Horario de atención</h3>
  
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

         <ion-item class="item-icon-right item-icon-left"  type="item-text-wrap" href="#/tab/history">

        <span class="icon ion-ios-information-outline icon-accessory icon-m" ></span>


        <h3 style="margin: 10px; font-weight: normal;">El Restaurante</h3>
  
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>

