<ion-view view-title="El Restaurante">

<ion-content>
  
  <p style="text-align:justify" class="padding">
 Has llegado a esta casa, a esta mesa. Es tu casa y es tu mesa. Sobre ella verás desfilar un sinfín de Cenicientas de la comida nacional-popular mexicana; se han vestido de ropajes de fiesta para ser redescubiertas por ti. Son fruto de la cultura y del ingenio de nuestro pueblo. Ya antes las habrás visto en moradas humildes y en casas ricas, en mercados y en plazas con sus vestidos de trajín o con ropas de domingo.
  </p>

  </ion-content>

</ion-view>