<ion-view view-title="Horario de Atención">

<ion-content>
  
  <p style="text-align:justify" class="padding">
  Domingo - Lunes : Cerrado <br>
  Martes - Viernes : 11:00 am - 9:00 pm <br>
  Sábados 11:00 am - 11:00 pm
  </p>

  </ion-content>

</ion-view>