<ion-view view-title="{{title}}" class="bg-list" >
  <ion-content ng-init="loadItems()">
  
    <ion-list >
      <div class="item item-input-inset" ng-if="items.length > 0 " style="border-top: none;
">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Buscar">
    </label>
    <span class="ion-ios-search" style="  display: inline-block;
  width: 20px !important;
  padding: 0 10px; font-size:1.2em"></span>
  </div>

<br>

<div ng-if="items.length == 0 ">
   <h5 class="padding">No hay items disponibles.</h5>
</div>

      <ion-item class=" item-avatar item-icon-right" ng-repeat="item in items" type="item-text-wrap" href="">
       
      <img ng-src="{{item.pic}}">

        <h3 style="margin: 10px; margin-left:0; font-weight: normal;">{{item.name}}</h3>
        <p>
        &nbsp;{{item.price}}
        <i class="icon ion-plus icon-accessory"></i>

      </ion-item>


    </ion-list>

  </ion-content>


</ion-view>

