<ion-view view-title="Opciones" style="background:rgba(128, 128, 128, 0.16)">
  <ion-content ng-init="load()">
  
    <ion-list>

      <ion-item class="item-icon-right item-icon-left"   type="item-text-wrap" style="  border-top: none;
">

        <span class="icon ion-ios-calculator-outline icon-accessory" style="font-size: 28px;"></span>


        <h3 style="margin: 10px;">Mis ordenes</h3>
  
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

           <ion-item class="item-icon-right item-icon-left"  type="item-text-wrap" >

        <span class="icon ion-calendar icon-accessory" style="font-size: 25px;"></span>


        <h3 style="margin: 10px;">Mis reservas</h3>
  
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

      <br>
    <ion-toggle ng-change="save()"  ng-model="$root.settings.maxPrecision">
         Alta precisión de GPS
    </ion-toggle>
     <ion-toggle  ng-change="save()"  ng-model="$root.settings.enableFb">
        Compartir en Facebook
    </ion-toggle>
     <ion-toggle ng-change="save()" ng-model="$root.settings.enableTw">
        Compartir en Twitter
    </ion-toggle>
    </ion-list>

  </ion-content>

{{$root.maxPrecision}}

</ion-view>

