<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive customized">


  <ion-tab title="Inicio" icon-off="ion-android-restaurant" icon-on="ion-android-restaurant" href="#/tab/routes">
    <ion-nav-view name="tab-routes"></ion-nav-view>
  </ion-tab>



  <ion-tab title="Menú" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper-outline" href="#/tab/menu">
    <ion-nav-view name="tab-menu"></ion-nav-view>
  </ion-tab>



  <ion-tab title="Reservas" icon-off="ion-calendar" icon-on="ion-calendar" href="#/tab/schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>


    <ion-tab title="Ubicanos" icon-off="ion-map" icon-on="ion-map" ng-click="toRoute()">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>







  <!-- Account Tab -->
  <ion-tab title="Más" icon-off="ion-more" icon-on="ion-more" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>


