<ion-view view-title="D'Restaurant">
  <ion-content>

   <section>
      <div style="overflow:hidden; height:190px; background:url(http://www.bobbyflaysteak.com/files/d28afc58c82bc17f2e18cef8212265c6_full_size.jpg); background-position:center bottom;">
      </div>

  <div class="padding" style="background:black; color:white">
         <table>
      <tr>
         <td>
         <h5 style="color:white">Abierto Ahora <span class="ion-record" style="color: rgb(24, 229, 24);
  margin-left: 3px;"></span></h5>
        <p> Lun a Vie desde 2:00 pm a 8:00 pm <br> Fines de semana desde 12:00 pm a 11:00 pm</p>
         </td>
      </tr>
      </table>
      </div>

   


   </section>


<ion-list>
      
      <ion-item class="item-icon-right item-icon-left" ng-click="scan()"  type="item-text-wrap" >

        <span class="icon ion-qr-scanner icon-accessory"></span>


        <h3 style="margin: 10px;">Escanear Código</h3>
  
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

      <ion-item class="item-icon-right item-icon-left" ng-click="toRoute()"  type="item-text-wrap" >

        <span class="icon ion-map icon-accessory"></span>

        <h3 style="margin: 10px;">Como llegar</h3>
  
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>


         <ion-item class="item-icon-right item-icon-left"  type="item-text-wrap" href="#/tab/history">

        <span class="icon ion-information-circled icon-accessory"></span>


        <h3 style="margin: 10px;">El Restaurante</h3>
  
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>

